body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.media-object {
  width: 60px;
  height: 60px;
}

.img{
  width: 50px;
  height:50px;
}

.link{
  color:white;
}

.link:hover{
  color:gray;
}

.link:click{
  color:gray;
}

.link:active{
  color:gray;
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 300px;
  height: 300px;
  padding: 5px;
  margin: 5px;
  border: 0;
}

/*.card > img {
  margin-bottom: .75rem;
}*/

.card-img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.card-text{
    text-align: center;
    position:absolute;
    bottom:0;
    left: 10%;
    right:10%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margi
