<div class="container">

  <div class="starter-template">
  <h1>About</h1>
  <p class="lead">Our Team</p>
  </div>


  <div class="container">
    <div class="media">
      <a class="media-left" href="/static/img/domo.jpg">
        <img class="media-object" src="/static/img/domo.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Abraham Adberstein</h4>
        <p>I am a senior studying Computer Science at the University of Texas at Austin. I have experience in web development, mobile development, and cybersecurity. My major responsibilities were setting up the server and the website.  </p>
        <ul>
          <li>10 of commits. </li>
          <li>11 of issues. </li>
          <li>0 of unit tests.</li>
        </ul>
      </div>
    </div>

    <div class="media">
      <a class="media-left" href="/static/img/kaleb.png">
        <img class="media-object" src="/static/img/kaleb.png" alt="Generic placeholder image">
      </a>
      <div class="media-body">
       <h4 class="media-heading">Kaleb Alanis</h4>
        <p>I am a senior studying Computer Science at the University of Texas at Austin. I have experience in game development and computer graphics. My major responsibilities were writing the documentation and DevOps.  </p>
        <ul>
          <li>2 of commits. </li>
          <li>0 of issues. </li>
          <li>0 of unit tests.</li>
        </ul>
      </div>
    </div>

    <div class="media">
      <a class="media-left" href="/static/img/jason.jpg">
        <img class="media-object" src="/static/img/domo.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Jason Dimitriou</h4>
        <p>I'm a senior (and a half but shhh) finishing up a Computer Science degree at Univerisity of Texas. I work full time as an iOS Developer downtown for a transportation company called moovel. When I'm not doing school or work I'm pretending to be a professional golfer.  </p>
        <ul>
          <li>1 of commits. </li>
          <li>0 of issues. </li>
          <li>0 of unit tests.</li>
        </ul>
        
      </div>
    </div>

    <div class="media">
      <a class="media-left" href="/static/img/domo.jpg">
        <img class="media-object" src="/static/img/domo.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>

  </div>

  <div>
      <h4>Stats:</h4>
      <ul>
        <li>total no. of commits</li>
        <li>total no. of issues</li>
        <li>total no. of unit tests</li>
      </ul>
      <h4>Source:</h4>
      <ul>
        <li><a href="">Apiary</a></li>
        <li><a href="">Github Issue Tracker</a></li>
        <li><a href="">Github Repo</a></li>
        <li><a href="">Github Wiki</a></li>
      </ul>

      <h4> Data Sources</h4>
      <a href="http://www.football-data.org/">Soccer Data</a>
      <br><br>

      <h4> Tools</h4>
      <ul>
        <li>Angular.js</li>
        <li>Angular-routes.js</li>
        <li>Bootstrap</li>
      </ul>

      <br><br>
  </div>

</div><!-- /.container -->
