<div class="container">

    <div class="starter-template">
      <h1>Games</h1>
      <p class="lead">Soccer is Life. </p>
    </div>

    <div class="container">
      <div class="col-lg-8">
        <table class="table table-inverse">
          <thead>
          <tr>
            <th class="link" ng-click="propertyName = 'date'; sortReverse = !sortReverse">Date
              <span ng-show="propertyName == 'date' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="propertyName == 'date' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>Time</th>
            <th class="link" ng-click="propertyName = 'awayTeamName'; sortReverse = !sortReverse">Away Team
              <span ng-show="propertyName == 'awayTeamName' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="propertyName == 'awayTeamName' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="link" ng-click="propertyName = 'homeTeamName'; sortReverse = !sortReverse">Home Team
              <span ng-show="propertyName == 'homeTeamName' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="propertyName == 'homeTeamName' && sortReverse" class="fa fa-caret-up"></span>
            </th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="game in games[pointer] | orderBy:propertyName:sortReverse">
              <td>{{game.date | date:'yyyy-MM-dd'}}</td>
              <td>{{game.date | date:'HH:mm:ss'}}</td>
              <td>{{game.awayTeamName}}</td>
              <td>{{game.homeTeamName}}</td>
            </tr>
          </tbody>
          </table>

          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" ng-click="prevList()" href="" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <!-- numbers in pagination -->

              <li ng-repeat="n in range(totalGames) track by $index" ng-class="{'active':pointer == $index} " class="page-item">
                <a class="page-link" ng-show="($index >= startIndex && $index < endIndex) || ($index - totalPlayers + 1 == 0) || ($index == 0)"  ng-click="goToPage($index)" href="">{{$index+1}}</a>
              </li>

              <li class="page-item">
                <a class="page-link" ng-click="nextList()" href="" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

      </div>

      <div class="col-lg-4">
        <a class="twitter-timeline" height="500" href="https://twitter.com/EASPORTSFIFA">Tweets by EASPORTSFIFA</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>

</div><!-- /.container -->
