

  <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading">Golazo</h1>
        <p class="lead text-muted">Soccer is Life.</p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">

          <div class="card" ng-repeat="game in games">
            <img class="card-img" src="/static/img/vs.png" alt="Card image cap">
            <div class="card-text">
              <p><strong>Today:</strong> {{game.awayTeamName}} vs {{game.homeTeamName}}</p>
            </div>
          </div>

          <div class="card" ng-if="show_card">
            <img class="card-img" src="/static/img/ball.png" alt="Card image cap">
            <div class="card-text">
              <p>Teams</p>
            </div>
          </div>

          <div class="card" ng-if="show_card">
            <img class="card-img" src="/static/img/player.jpg" alt="Card image cap">
            <div class="card-text">
              <p>Players</p>
            </div>
          </div>




        </div>

      </div>
  </div>
