<div class="container">

    <div class="starter-template">
      <h1>Seasons</h1>
      <p class="lead">Soccer is Life. </p>
    </div>

    <div class="container">
      <table class="table table-inverse">
        <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Season Name</th>
          <th>League</th>
          <th>Year</th>
          <th>Teams</th>
          <th>Games </th>
          <th>Matches</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="season in seasons">
            <!-- <th scope="row">{{$index}}</th> -->
            <td><a class="link" href="/#/standings/{{season.id}}">{{season.name}}</a></td>
            <td>{{season.league}}</td>
            <td>{{season.year}}</td>
            <th>{{season.numberOfTeams}}</th>
            <th>{{season.numberOfGames}}</th>
            <td>{{season.currentMatchday}} / {{season.numberOfMatchdays}}</td>
          </tr>
        </tbody>
        </table>

    </div>

</div><!-- /.container -->
