<div class="container">

    <div class="starter-template">
      <h1>Teams</h1>
      <p class="lead">Soccer is Life. </p>
    </div>

    <div class="container">
      <h3>TEAMS</h3>

      <table class="table table-bordered table-inverse">
        <thead>
        <tr>
          <th class="link" style="width:250px;" ng-click="propertyName = 'name'; sortReverse = !sortReverse">Name
            <span ng-show="propertyName == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="propertyName == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th class="link"  ng-click="propertyName = 'shortName'; sortReverse = !sortReverse">Short Name
            <span ng-show="propertyName == 'shortName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="propertyName == 'shortName' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th class="link" ng-click="propertyName = 'squadMarketValue'; sortReverse = !sortReverse">Market Value
            <span ng-show="propertyName == 'squadMarketValue' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="propertyName == 'squadMarketValue' && sortReverse" class="fa fa-caret-up"></span>
          </th>

        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="team in teams[pointer] | orderBy:propertyName:sortReverse">
            <td> <img class="img" src="{{team.logo}}" /> <a class ="link" href="/#/team/{{team.id}}">{{team.name}}</a></td>
            <td> {{team.shortName}}</td>
            <td> {{team.squadMarketValue}}</td>
          </tr>
        </tbody>
      </table>

      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" ng-click="prevList()" href="" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <!-- numbers in pagination -->

          <li ng-repeat="n in range(totalTeams) track by $index" ng-class="{'active':pointer == $index} " class="page-item">
            <a class="page-link" ng-show="($index >= startIndex && $index < endIndex) || ($index - totalPlayers + 1 == 0) || ($index == 0)"  ng-click="goToPage($index)" href="">{{$index+1}}</a>
          </li>

          <li class="page-item">
            <a class="page-link" ng-click="nextList()" href="" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>


</div><!-- /.container -->
