<div class="container">

    <div class="container">
      <br>

      <div class="col-lg-4">  <img class="img-big" src="{{team.logo}}"/> </div>

      <!-- <p class="lead">{{team.name}} </p> -->
      <div class="col-lg-8 ">

        <h1> {{team.name}}</h1>
      <table class="table table-bordered">
          <tbody>
            <tr>  <td><strong> Market Value</strong></td><td> {{team.squadMarketValue}}</td>  </tr>
            <tr>  <td><strong> Short Name</strong></td><td> {{team.shortName}}</td></tr>
          </tbody>
      </table>
    </div>

    </div>

    <div class="container">
      <h3>PLAYERS</h3>

      <table class="table table-bordered table-inverse">
        <thead>
        <tr>
          <th style="width:250px;">Name </th>
          <th>Nationality </th>
          <th>DOB </th>
          <th>Position </th>
          <th>Jersey # </th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players">
            <td> {{player.name}} </td>
            <td> {{player.nationality}}</td>
            <td> {{player.dateOfBirth}}</td>
            <td> {{player.position}}</td>
            <td> {{player.jerseyNumber}}</td>
          </tr>
        </tbody>
      </table>

      <h3>GAMES</h3>

      <table class="table table-bordered table-inverse">
        <thead>
        <tr>
          <th>MD </th>
          <th>Away Team </th>
          <th>Home Team </th>
          <th>Date </th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in games">
            <td> {{game.matchday}} </td>
            <td> {{game.awayTeamName}}</td>
            <td> {{game.homeTeamName}}</td>
            <td> {{game.date | date:'yyyy-MM-dd'}}</td>
          </tr>
        </tbody>
      </table>

    </div>




</div><!-- /.container -->
